.btn {
  &:link,
  &:visited {
    display: inline-block;
    position: relative;
    padding: 1rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10rem;
    font-size: 1.6rem;

    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    color: $color-grey;
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
